{% extends "index_.html" %}

{% block content %}
<h1>Мое предложение: - {{ name }} </h1>
<h2>Эта планета близко к Земле;</h2>
<div class="alert alert-success" role="alert">
    <b>На ней много необходимых ресурсов;</b>
</div>
<div class="alert alert-dark" role="alert">
    <b>На ней есть вода и атмосфера;</b>
</div>
<div class="alert alert-warning" role="alert">
    <b>На ней есть небольшое магнитное поле;</b>
</div>
<div class="alert alert-danger" role="alert">
    <b>Наконец, она просто красива!</b>
</div>
{% endblock %}